.photo-thumbnail img {
  transition: transform 0.3s ease-in-out;
  background-color: #f8f9fa;
  cursor: pointer;
}
.photo-thumbnail:hover img {
  transform: scale(1.05);
  background-color: #e9ecef;
}

.photo-thumbnail div {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.photo-thumbnail:hover div {
  color: grey !important;
}
